# {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.feature_reasons-texto {
    max-width: 420px;
    padding: 6px;
}

.feature_reasons-texto h2, .feature_reasons-texto p {
    color: #606971; 
}

.feature_reasons-texto h1 {
    font-weight: bold;
    text-align: center;
}

.feature_reasons-texto h2 {
    font-size: 120%;
    font-weight: bold;                 
}

.feature_reasons-texto p {
    margin: 18px 0 18px 0;
}

.feature_reasons-texto p br {
    line-height: 2;
}
