<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://use.fontawesome.com/e59b6632e5.js"></script>
    <link rel="stylesheet" href="css/reasons-engagement.css" />

</head>

<body>
    <section class="reasons-engagement">
        <div class="reasons text-button">
            <div class="reasons-texto">
                <h2>Engagement</h2>
                <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing. Eu tractatos facilisis sit.
                </p>
            </div>

            <div class="button-socialmedia">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>

            <button class="button light">Get Started</button>
        </div>

        <figure class="reasons-engagement__figure">
            <img class="reasons-engagement__img" src="img/reasons-engagement__img.png" alt="social media screens">
        </figure>
    </section>
</body>

</html>