<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
    <button class="button outline grey">Log in</button>
    <button class="button outline blue">Get Started</button>
    <button class="button light">Learn More</button>
    <button class="button light">Get Started</button>
    <button class="button light">Get Started</button>
    <button class="button light">Get Started</button>
    <button class="button light">Get Started</button>
    <button class="button light">Get Started</button>
    <button class="button light">Get Started</button>
    <button class="button dark">Get Started</button>
</body>
</html>