<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./principal.css">
    <link rel="stylesheet" href="./button.css">
    <link rel="stylesheet" href="./header-reachme.css">
    <link rel="stylesheet" href="./hero.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Ubuntu" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="hero">
        <div class="reach-features">
            <h1 class="reach-title"> Reach.me features</h1>
            <p class="reach-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo placeat recusacepturi deleniti iusto maxime totam.
                Vero quos ex tempora beatae!
            </p>
            <div class="hero-button-center">
                <div class="hero-button">
                    <button class="button light">Learn More</button>
                </div>
            </div>
        </div>
        <figure class="hero-figure">
            <img src="./header-main.png" class="hero-figure__img">
        </figure>
    </div>
</body>

</html>