<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://use.fontawesome.com/e59b6632e5.js"></script>
    <link rel="stylesheet" href="css/feature.css" />

</head>

<body>
    <section>
        <div class="feature row">
            <div class="feature text-button">
                <div class="feature-texto">
                    <h2>Social Publishing</h2>
                    <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing. Eu tractatos facilisis sit, ius
                        <a href="#" class="link">tr.im</a> cu inermis electram adipiscing. Eu tractatos facilisis sit.
                        <br> Eu tractatos facilisis sit, ius
                        <a href="#" class="link">Hopper</a> cu inermis electram adipiscing. Eu tractatos facilisis sit.
                    </p>

                    <button class="button light">Get Started</button>

                </div>
            </div>

            <figure class="feature-img-right">
                <img src="img/macbook.png" alt="">
            </figure>

        </div>

        <div class="feature reverse">
            <div class="feature text-button">
                <div class="feature-texto">
                    <h2>Engagement</h2>
                    <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing. Eu tractatos facilisis sit.
                    </p>
                </div>

                <div class="button-socialmedia">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>

                <button class="button light">Get Started</button>
            </div>

            <figure class="feature reverse__figure engagement">
                <img class="feature reverse__img engagement" src="img/reasons-engagement.png" alt="social media screens">
            </figure>
        </div>

        <div class="feature_group">

            <div class="feature row">
                <div class="feature text-button">
                    <div class="feature-texto">
                        <h2>Brand Monitoring</h2>
                        <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing. Eu tractatos facilisis sit, ius cu
                            inermis electram adipiscing. Eu tractatos facilisis sit, ius cu inermis electram adipiscing.
                            Eu tractatos facilisis sit.
                        </p>

                        <button class="button light">Get Started</button>
                    </div>
                </div>

                <div class="feature-img-center">
                    <img src="img/visitors.png" alt="">
                </div>

            </div>

            <div class="feature reverse">
                <div class="feature text-button">
                    <div class="feature-texto">
                        <h2>Analytics</h2>
                        <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing. Eu tractatos facilisis sit, ius cu
                            inermis electram adipiscing. Eu tractatos facilisis sit, ius cu inermis electram adipiscing.
                            Eu tractatos.
                        </p>

                        <button class="button light">Get Started</button>
                    </div>
                </div>

                <div class="feature reverse__figure feature-img-left">
                    <img class="feature reverse__img" src="img/mac.png">
                </div>
            </div>
        </div>


        <div class="feature reverse">
            <div class="feature text-button">
                <div class="feature-texto">
                    <h2>App Directory</h2>
                    <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing. Eu tractatos facilisis sit.
                    </p>
                </div>

                <button class="button light">Get Started</button>
            </div>

            <figure class="feature reverse__figure app">
                <img class="feature reverse__img app" src="img/app-directory.png" alt="directory screen">
            </figure>
        </div>
    </section>
</body>

</html>