<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="reasons-analytics..css">
    <title>reasons-analytics.</title>
</head>
<body>
    
    <section class="analytics flex">
        
        <div class="analytics_img">
            <img src="C:\Users\39871560826\projetos-html\reachme\components\reasons-analytics\monitor.jpg">
        </div>
        
        
        <div class="reasons-texto"> 
            <h2>Analytics</h2>
            <p>Eu tractatos facilisis sit, ius cu inermis electram adipiscing.
               Eu tractatos facilisis sit, ius cu inermis electram adipiscing.
               Eu tractatos facilisis sit, ius cu inermis electram adipiscing.
               Eu tractatos.
            </p>

            <button class="button light">Get Started</button>

        </div>

    </section>


</body>
</html>