# {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/* Reasons_text Component CSS */

    .reasons-texto {
        max-width: 420px;
        padding: 12px;
    }

    .reasons-texto h2, .reasons-texto p {
        color: #606971; 
    }

    .reasons-texto h1 {
        font-weight: bold;
        text-align: center;
    }

    .reasons-texto h2 {
        font-size: 120%;
        font-weight: bold;                 
    }

    .reasons-texto p {
        margin: 18px 0 18px 0;
    }

/* Button component CSS */

    .button {
        margin: 5% 0;
        text-decoration: none;
        font-size: 1.3em;
        border-radius: 30px;
        border: none;
    }

    .button.outline {
        padding: 1.5% 3%;
        border: 2px solid grey;
        background: white;
    }

    .button.outline.grey {
        color: grey;
    }

    .button.outline.blue {
        color: #0089f5;
    }

    .button.light {
        padding: 2.5% 6%;
        background: #0089f5;
        color: white;
    }

    .button.dark {
        padding: 2% 5%;
        background: #364049;
        color: white;
    }

/* Reasons-analytics Component CSS */

    .analytics {
        background-color: #e6edf3;
        padding-top: 48px;
    }

    .analytics_img {
        position: relative;
        right: 35%;
    }

    .analytics_img img {
        width: 100%;
        height: 100%;      
    }

    .flex {
        display: flex;
        flex-direction: column-reverse;
    }

/* Media query Tablet */

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        
        .analytics_img {
            right: 30%;
        }

        .analytics_img img {
            
        }

        .flex {
            flex-direction: row;
        }
    }

/* Media query Desktop */

    @media screen and (min-width: 1025px) {

        .analytics_img {
            right: 0;
        }

        .flex {
            flex-direction: row;
            justify-content: flex-start;
        }

        .reasons-texto {
            align-self: center;    
        }
    }



