<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/header-reachme.css">
    <title>Document</title>
</head>

<body>
    <div>
        <h1 class="reach-title"> Reach.me features</h1>
        <h2 class="reach-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo placeat recusacepturi deleniti iusto maxime totam.
            Vero quos ex tempora beatae!</h2>
        <a>botão aqui</a>
    </div>
</body>

</html>